body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, .root {
  height: 100%;
  overflow: hidden;
}
body {
  line-height: 1.4;
  overflow: auto;
}
body, .app {
  background: white;
}

@font-face {
  font-family: stylish-calligraphy-demo;
  src: url('${StylishCalligraphyDemo}') format('woff');
}

@font-face {
  font-family: eau-sans-bold;
  src: url('${EauSansBold}') format('woff');
}

@font-face {
  font-family: eau-sans-book;
  src: url('${EauSansBook}') format('woff');
}